-@val s: skinny.Skinny

-# Be aware of package imports.
-# 1. src/main/scala/templates/ScalatePackage.scala
-# 2. scalateTemplateConfig in project/Build.scala

h3 #{s.i18n.get("plannedSchedule.new")}
hr

-#-for (e <- s.errorMessages)
-#  p(class="alert alert-danger") #{e}

form(method="post" action={s.url(Controllers.plannedSchedules.createUrl)} class="form")
  =include("_form.html.jade")
